/**
 * Stylesheet for the Welcome feature.
 */

.mw-welcome-bar {
	position: absolute;
	top: 6em;
	right: 2em;
	display: block;
	background-color: #fff;
	border: 0.5em solid #eee;
	padding: 0.5em;
	font-size: 1rem;
}

.mw-welcome-bar:after {
	position: absolute;
	right: -1em;
	top: -1em;
	background-color: #f9f9f9;
	border: 1px solid #eee;
	padding: 0.2em 0.3em;
	border-color: inherit;
	content: attr( data-welcome-color );
	font-family: monospace, monospace;
	font-size: 0.7rem;
}
